<footer id="footer">
  <a
    href="mailto:duykhangtong99@gmail.com"
    class="footer__link"
    style="
      display: block;
      width: fit-content;
      margin-bottom: 2rem;
      font-size: 1.6rem;
    "
    >Question? Contact us.</a
  >
  <ul class="footer__link-list">
    <li class="footer__link-item">
      <a href="#" class="footer__link">FAQ</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Help Center</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Account</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Media Center</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Investor Relations</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Jobs</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Ways to Watch</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Terms of Use</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Privacy</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Cookie Preferences</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Corporate Information</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Speed Test</a>
    </li>
    <li class="footer__link-item">
      <a href="#" class="footer__link">Legal Notices</a>
    </li>
    <li class="footer__link-item">
      <a
        href="http://ophim3.cc/api-document"
        class="footer__link"
        target="_blank"
      >
        API source</a
      >
    </li>
  </ul>
  <div class="footer__copyright">&copy; Designed & Built by Khang Tong.</div>
</footer>
