<header id="header">
  <a href="/" class="logo"><img src="/img/app-img/logo.png" alt=""></a>
  <nav class="navbar navbar--app">
    <a href="/" class="navbar__item navbar__item--app <%= navActive === 'home' ? 'navbar__item--app--active' : '' %>"
      ><i class="fa-solid fa-house icon--mr"></i>Home</a
    >
    <a href="/favorites" class="navbar__item navbar__item--app <%= navActive === 'favorites' ? 'navbar__item--app--active' : '' %>"
      ><i class="fa-solid fa-star icon--mr"></i>Favorites</a
    >
  </nav>
  <div class="search-group">
    <svg class="search-icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
    <input placeholder="Search" type="search" class="search-input">
  </div>
  <nav class="navbar navbar--user">
    <% if (!user) { %>
    <div class="navbar__item navbar__item--user navbar__item--user--login">
        <i class="fa-regular fa-person-to-portal icon--mr"></i>Log In
    </div>
    <div class="navbar__item navbar__item--user navbar__item--user--signup">
      <i class="fa-regular fa-user-plus icon--mr"></i>Sign Up
    </div>
    <% } else { %>
    <div class="navbar__item navbar__item--user navbar__item--user__account">
      <div class="user-action-container">
        <a href="/me" class="user-action-item">
          <i class="fa-solid fa-user"></i>
          <span class="user-action-label">Profile</span>
        </a>
        <a href="/favorites" class="user-action-item favorites">
          <i class="fa-solid fa-star"></i>
          <span class="user-action-label">Favorites</span>
        </a>
        <div class="user-action-item logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span class="user-action-label">Log out</span>
        </div>
      </div>
      <img
        src="<%= `data:image/jpeg;base64,${user.photo.toString('base64')}` %>"
        class="user-avatar"
      />
      <span class="user-name"><%= user.name.substring(user.name.lastIndexOf(' ')) %></span>
      <i class="fa-solid fa-caret-down"></i>
    </div>
    <% } %>
  </nav>
</header>
