<div class="login-container">
    <h2 class="form-header">Log In</h2>
    <form action="" class="login-form">
      <div class="form__group">
        <label class="form__label" for="email--login">Email</label
        ><input
          class="form__input"
          id="email--login"
          type="email"
          placeholder="you@example.com"
          required="required"
        />
      </div>
      <div class="form__group">
        <label class="form__label" for="password--login">Password</label
        ><input
          class="form__input"
          id="password--login"
          type="password"
          placeholder="••••••••"
          required="required"
          minlength="8"
        />
      </div>
      <div class="form__group">
        <button class="btn-submit">Enter</button>
      </div>
    </form>
  </div>
  <div class="signup-container">
    <h2 class="form-header">Sign Up</h2>
    <form action="" class="signup-form">
      <div class="form__group">
        <label class="form__label" for="name">Name</label
        ><input
          class="form__input"
          id="name"
          type="text"
          required="required"
        />
      </div>
      <div class="form__group">
        <label class="form__label" for="email--signup">Email</label
        ><input
          class="form__input"
          id="email--signup"
          type="email"
          placeholder="you@example.com"
          required="required"
        />
      </div>
      <div class="form__group">
        <label class="form__label" for="password--signup">Password</label
        ><input
          class="form__input"
          id="password--signup"
          type="password"
          placeholder="••••••••"
          required="required"
          minlength="8"
        />
      </div>
      <div class="form__group">
        <label class="form__label" for="passwordConfirm"
          >Confirm Password</label
        ><input
          class="form__input"
          id="passwordConfirm"
          type="password"
          placeholder="••••••••"
          required="required"
          minlength="8"
        />
      </div>
      <div class="form__group">
        <button class="btn-submit">Enter</button>
      </div>
    </form>
  </div>
  <div class="overlay"></div>