<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aniflix</title>
    <link
      rel="stylesheet"
      href="/img/font-awesome-6.3.0-pro-main/css/all.css"
    />
    <link rel="shortcut icon" href="/img/app-img/logo.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('_login'); %>
    <header id="header">
      <a href="/" class="logo"><img src="/img/app-img/logo.png" alt=""></a>
      <nav class="navbar navbar--app">
        <a href="/" class="navbar__item navbar__item--app"
          ><i class="fa-solid fa-house icon--mr"></i>Home</a
        >
        <a href="/favorites" class="navbar__item navbar__item--app"
          ><i class="fa-solid fa-star icon--mr"></i>Favorites</a
        >
      </nav>
      <form class="nav__search">
        <button class="nav__search-btn">
          <svg>
            <use xlink:href="/img/icons.svg#icon-search"></use>
          </svg>
        </button>
        <input class="nav__search-input" type="text" placeholder="Search film..." required />
      </form>
      <nav class="navbar navbar--user">
        <div class="navbar__item navbar__item--user navbar__item--user--login">
            <i class="fa-regular fa-person-to-portal icon--mr"></i>Log In
        </div>
        <div class="navbar__item navbar__item--user navbar__item--user--signup">
          <i class="fa-regular fa-user-plus icon--mr"></i>Sign Up
        </div>
      </nav>
    </header>
    <main class="main">
      <div class="error">
        <div class="error__title">
          <h2 class="heading-secondary heading-secondary--error">
            <%= `(${statusCode}) ${title}` %>
          </h2>
        </div>
        <img src="<%= errImg %>" alt="" class="error_img">
      </div>
    </main>
    <%- include('_footer'); %>
    <script src="/js/bundle.js"></script>
  </body>
</html>
