@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Yeseva+One&display=swap');

:root {
  --brand-color: #e50914;
  --blue-color: #3ea6ff;
  --green-color: #55c57a;
  --orange-color: #ff7730;
  --white-color: #f1f1f1;
  --black-color-1: #0f0f0f;
  --black-color-2: #1c1e20;
  --black-color-3: #495057;
  --black-color-4: #6c757d;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--black-color-1);
  font-family: 'Roboto', sans-serif;
}

.background {
  position: fixed;
  height: 75rem;
  width: 100%;
  z-index: -1;
}

/* HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 6rem;
  background-color: var(--black-color-2);
  z-index: 1000;
}

.logo {
  text-decoration: none;
  font-size: 4rem;
  font-family: 'Yeseva One', cursive;
  color: var(--brand-color);
}

.logo > img {
  height: auto;
  width: 8rem;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar--app {
  position: relative;
  flex: 1;
  margin-left: 4rem;
}

.navbar__item--app--active {
  background-color: var(--brand-color);
}

.navbar__item {
  position: relative;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white-color);
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  width: 15rem;
  text-align: center;
  transition: all 0.2s;
}

/* .navbar__item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.2rem;
  width: 0;
  border-radius: 4rem;
  background-color: var(--brand-color);
  transition: all 0.25s;
} */

.navbar__item--app:not(:last-child) {
  margin-right: 0.8rem;
}

.navbar__item--user {
  width: 14rem;
  cursor: pointer;
}

.navbar__item--user:hover {
  background-color: var(--brand-color);
}

.navbar__item--user__account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14.4rem;
  border-radius: 10rem;
  padding: 0.4rem 0.8rem;
  background-color: #34393e;
  cursor: pointer;
}

.navbar__item--user__account--active > i {
  transform: rotate(180deg);
}

.navbar__item--user__account--active > .user-action-container {
  display: flex;
}

.user-action-container {
  position: absolute;
  top: 4.4rem;
  right: 0;
  background-color: #34393e;
  width: 16rem;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.user-action-item {
  width: 100%;
  padding: 0.4rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white-color);
  text-decoration: none;
}

.user-action-item:first-child {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.user-action-item:last-child {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-top: 0.1rem solid var(--black-color-3);
}

.user-action-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.user-action-label {
  font-size: 1.6rem;
  margin-left: 1rem;
}

.user-avatar {
  height: auto;
  width: 2.8rem;
  border-radius: 50%;
}

.user-name {
  font-size: 1.4rem;
}

.nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .nav__search {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.2rem;
  }
}

.nav__search-btn {
  background: none;
  border: none;
  margin-right: 0.8rem;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  cursor: pointer;
}

.nav__search-btn svg {
  height: 2rem;
  width: 2rem;
  fill: var(--white-color);
}

.nav__search-input {
  font-family: inherit;
  font-weight: inherit;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--white-color);
  padding-bottom: 3px;
  border-bottom: 1px solid var(--white-color);
  width: 18rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__search-input::-webkit-input-placeholder {
  color: var(--white-color);
}

.nav__search-input:-ms-input-placeholder {
  color: var(--white-color);
}

.nav__search-input::-ms-input-placeholder {
  color: var(--white-color);
}

.nav__search-input::placeholder {
  color: var(--white-color);
}

.nav__search-input:focus {
  outline: none;
  width: 25rem;
  border-bottom: 1px solid var(--brand-color);
}

/* MAIN */
#main,
.main {
  margin-top: 7rem;
  padding: 4rem 6rem;
}

.main {
  margin: 8rem 0 2rem 0;
}

#main--film {
  margin-top: 7rem;
}

#main--settings {
  margin-top: 7rem;
  padding: 0 50rem;
}

.name {
  color: var(--white-color);
  font-size: 4rem;
  font-weight: bold;
}

.description {
  color: var(--white-color);
  font-size: 1.6rem;
  margin-top: 2rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3.2rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2.4rem;
}

.btn--s {
  width: 12.8rem;
}

.btn--l {
  width: 15rem;
}

.btn--fill {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.25s;
}

.btn--outline {
  color: var(--white-color);
  border: 0.1rem solid var(--brand-color);
  transition: all 0.25s;
}

.btn--fill:hover {
  color: var(--white-color);
  background-color: var(--brand-color);
}

.btn--outline:hover {
  color: var(--black-color-1);
  background-color: var(--white-color);
  border: none;
}

.handle-favorites__btn {
  padding: 1rem 0;
  width: 16rem;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: normal;
  border: none;
  border-radius: 0.4rem;
  color: var(--white-color);
  background-color: var(--brand-color);
  transition: all 0.2s;
  cursor: pointer;
}

.icon {
  font-size: 2.2rem;
}

.title {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--white-color);
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
}

.item {
  flex: calc(1 / 6);
}

.item:not(:last-child) {
  margin-right: 0.4rem;
}

.item__link {
  text-decoration: none;
}

.item__img {
  height: auto;
  max-height: 13.5rem;
  width: 24rem;
  border-radius: 0.4rem;
}

/* FILTER */
.filter--country {
  width: 52rem;
  margin-top: 3rem;
}

.filter__heading {
  font-size: 1.8rem;
  color: var(--white-color);
  text-transform: uppercase;
}

.filter__list--category,
.filter__list--country {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

.icon--mr {
  margin-right: 0.6rem;
}

.filter__item {
  width: 16rem;
  padding: 1.2rem 0;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 1.6rem;
  color: var(--white-color);
  background-color: var(--black-color-2);
  transition: all 0.2s;
  cursor: pointer;
}

.filter__item:hover {
  outline: var(--white-color) solid 0.3rem;
}

.filter__item--active {
  color: var(--black-color-1);
  background-color: var(--white-color);
}

.filter__item--active:hover {
  outline: none;
}

.filter-btn {
  width: 14rem;
  background-color: var(--black-color-2);
  border: none;
  border-radius: 0.6rem;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--white-color);
  cursor: pointer;
  margin: 2rem 0 0 50%;
  transform: translateX(-50%);
  transition: all 0.2s;
}

.filter-btn:hover {
  background-color: var(--brand-color);
}

/* FILM LIST */
.film-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.8rem;
}

.film-item {
  text-align: center;
  margin: 1.6rem 0.6rem;
}

.film-item:hover .film-item__thumb {
  outline: 0.2rem solid var(--white-color);
}

.film-item__link {
  text-decoration: none;
}

.film-item__thumb {
  height: 27rem;
  width: 22rem;
  border-radius: 0.8rem;
  margin-bottom: 1.2rem;
}

.film-item__name {
  width: 20rem;
  font-size: 1.4rem;
  color: var(--white-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.film-item__name:hover {
  text-decoration: underline;
}

.film-item__span {
  display: block;
  font-size: 1.2rem;
  color: var(--black-color-3);
  margin-top: 0.4rem;
}

/* PAGINATION */
.pagination {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.pagination__item--active {
  background-color: var(--brand-color) !important;
}

.pagination__prev,
.pagination__current,
.pagination__next {
  padding: 0.8rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  color: var(--white-color);
  background-color: var(--black-color-3);
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s;
}

.pagination__prev:hover,
.pagination__current:hover,
.pagination__next:hover {
  background-color: var(--brand-color);
}

.pagination__prev {
  margin-right: 0.4rem;
}

.pagination__next {
  margin-left: 0.4rem;
}

.pagination__current {
  margin: 0 0.4rem;
}

/* FILM PAGE */
.section-hero {
  height: 69rem;
  padding-left: 5vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 8rem;
  --section-hero-box-shadow-h: 24%;
  height: var(--section-hero-box-shadow-h);
  width: calc(100% - 8rem);
  background: linear-gradient(
    0deg,
    var(--black-color-1) 0,
    hsla(0, 0%, 6%, 0.987) calc(var(--section-hero-box-shadow-h) * 0.162),
    hsla(0, 0%, 6%, 0.951) calc(var(--section-hero-box-shadow-h) * 0.31),
    hsla(0, 0%, 6%, 0.896) calc(var(--section-hero-box-shadow-h) * 0.45),
    hsla(0, 0%, 6%, 0.825) calc(var(--section-hero-box-shadow-h) * 0.58),
    hsla(0, 0%, 6%, 0.741) calc(var(--section-hero-box-shadow-h) * 0.706),
    hsla(0, 0%, 6%, 0.648) calc(var(--section-hero-box-shadow-h) * 0.824),
    hsla(0, 0%, 6%, 0.55) calc(var(--section-hero-box-shadow-h) * 0.942),
    hsla(0, 0%, 6%, 0.45) calc(var(--section-hero-box-shadow-h) * 1.058),
    hsla(0, 0%, 6%, 0.352) calc(var(--section-hero-box-shadow-h) * 1.176),
    hsla(0, 0%, 6%, 0.259) calc(var(--section-hero-box-shadow-h) * 1.294),
    hsla(0, 0%, 6%, 0.175) calc(var(--section-hero-box-shadow-h) * 1.42),
    hsla(0, 0%, 6%, 0.104) calc(var(--section-hero-box-shadow-h) * 1.55),
    hsla(0, 0%, 6%, 0.049) calc(var(--section-hero-box-shadow-h) * 1.69),
    hsla(0, 0%, 6%, 0.013) calc(var(--section-hero-box-shadow-h) * 1.838),
    hsla(0, 0%, 6%, 0) calc(var(--section-hero-box-shadow-h) * 2)
  );
  z-index: 2;
}

.info-container {
  position: relative;
  height: 100%;
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.6rem 3.2rem 6.4rem 0;
  z-index: 2;
}

.info-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8rem;
  right: 0;
  height: 100%;
  width: 140%;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 5%, 0.98) 10%,
    hsla(0, 0%, 9%, 0.98) 20%,
    hsla(0, 0%, 9%, 0.97) 25%,
    hsla(0, 0%, 9%, 0.95) 35%,
    hsla(0, 0%, 9%, 0.94) 40%,
    hsla(0, 0%, 9%, 0.92) 45%,
    hsla(0, 0%, 9%, 0.9) 50%,
    hsla(0, 0%, 9%, 0.87) 55%,
    hsla(0, 0%, 9%, 0.82) 60%,
    hsla(0, 0%, 9%, 0.75) 65%,
    hsla(0, 0%, 9%, 0.63) 70%,
    hsla(0, 0%, 9%, 0.45) 75%,
    hsla(0, 0%, 9%, 0.27) 80%,
    hsla(0, 0%, 9%, 0.15) 85%,
    hsla(0, 0%, 9%, 0.08) 90%,
    hsla(0, 0%, 9%, 0.03) 95%,
    hsla(0, 0%, 9%, 0)
  );
  z-index: -1;
}

.info-metadata {
  margin-top: 0.6rem;
  font-size: 1.6rem;
  color: var(--black-color-4);
}

.handle-favorites-container {
  margin: 3rem 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    to right,
    var(--black-color-3),
    var(--black-color-2)
  );
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
}

.handle-favorites__invite {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white-color);
}

.section-episodes {
  padding: 3rem 8rem;
}

.section-title {
  font-size: 2.8rem;
  color: var(--white-color);
}

.episodes-list {
  margin-top: 1.6rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.episodes-item {
  width: 8rem;
  text-align: center;
  border-radius: 0.6rem;
  background-color: var(--black-color-3);
  transition: all 0.25s;
  margin: 0.4rem;
}

.episodes-item__link {
  font-size: 1.8rem;
  text-decoration: none;
  display: block;
  padding: 1.2rem 2rem;
  color: var(--white-color);
}

.episodes-item:hover {
  background-color: var(--brand-color);
}

.section-similar-film {
  padding: 3rem 8rem;
}

.similar-film-list {
  margin-top: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.similar-film-item {
  margin: 0.8rem;
  text-decoration: none;
}

.similar-film-img {
  height: 18rem;
  width: 32rem;
}

/* FOOTER */
#footer {
  padding: 4rem 6rem;
}

.footer__link-list {
  max-width: 66%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer__link-item {
  width: 18rem;
  padding: 0.8rem 0;
}

.footer__link {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--black-color-4);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copyright {
  position: relative;
  top: 2.4rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--white-color);
}

/* FORM LOG IN AND SIGN UP */
.signup-container,
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 40rem;
  display: none;
  flex-direction: column;
  padding: 4rem;
  border-radius: 2rem;
  background-color: #fff;
  transition: all 0.3s;
  z-index: 999999;
}

.login-signup-container--active {
  display: flex;
}

.form-header {
  color: var(--black-color-1);
  font-size: 3.2rem;
}

.login-form {
  margin-top: 0.6rem;
  flex: 1;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
}

.form__label {
  color: var(--black-color-2);
  font-size: 1.6rem;
  font-weight: normal;
}

.form__input {
  padding: 0.8rem 1.6rem;
  border: none;
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-family: inherit;
  margin-top: 0.8rem;
  background-color: var(--white-color);
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  border-bottom: 0.3rem solid var(--green-color);
}

.form__input:focus:invalid {
  border-bottom: 0.3rem solid var(--orange-color);
}

.btn-submit {
  margin-top: 2rem;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 2rem;
  color: var(--white-color);
  background-color: var(--blue-color);
  cursor: pointer;
}

.btn-submit:hover {
  opacity: 0.9;
}

.overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(0.5rem);
  z-index: 999998;
  display: none;
}

.overlay--active {
  display: initial;
}

/* ACCOUNT SETTINGS */
.user-settings,
.user-password-change {
  padding: 4rem 0;
  border-bottom: 0.1rem solid var(--black-color-4);
}

.user-password-change {
  border: none;
}

.user-setting-title {
  color: var(--white-color);
  font-size: 2.4rem;
  text-transform: uppercase;
}

.form__group--photo-upload {
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  font-size: 1.6rem;
}

.form__upload {
  width: 0.01rem;
  height: 0.01rem;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload + label {
  color: var(--white-color);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--brand-color);
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.form__upload + label:hover {
  background-color: var(--brand-color);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* ALERTS */
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 999999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
  background-color: #20bf6b;
}

.alert--error {
  background-color: #eb4d4b;
}

/* ERROR */
.error {
  text-align: center;
}

.error__title {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  margin-bottom: 1rem;
  font-size: 3.2rem;
  color: var(--white-color);
}

.error__img {
  width: auto;
  height: 24rem;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
